<%= content_for :title, 'All Members' %>
<%= content_for :incidents_class, 'active' %>

<div class="card strpied-tabled-with-hover">
  <div class="card-header ">
    <!-- <h4 class="card-title">Striped Table with Hover</h4> -->
    <!-- <p class="card-category">Here is a subtitle for this table</p> -->
  </div>
  <div class="card-body table-full-width table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Review type</th>
          <th>Incident date</th>
          <th>Message</th>
          <th>Reporting Manager</th>
        </tr>
      </thead>

      <tbody>
        <% @reported_incidents.each do |reported_incident| %>
          <tr>
            <td><%= reported_incident.degree.humanize %></td>
            <td><%= reported_incident.incident_date %></td>
            <td><%= reported_incident.message %></td>
            <td><%= reported_incident.reported_by.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
