<%= form_with(model: managers_incident_recording, url: url, local: true) do |form| %>
  <% if managers_incident_recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(managers_incident_recording.errors.count, "error") %> prohibited this managers_incident_recording from being saved:</h2>

      <ul>
      <% managers_incident_recording.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :degree %>
    <%= form.select :degree, IncidentRecording.degrees.keys.map { |key| [key.humanize, key] } %>
  </div>

  <div class="field">
    <%= form.label :incident_date %>
    <%= form.text_field :incident_date %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="field">
    <%= form.label :user_id, 'Report' %>
    <%= form.collection_select :user_id, current_manager.team.users, :id, :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
